@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic-ext);
@font-face{
    font-family: "bang_whack_pow";
    src:url(../font/bang_whack_pow.ttf);
}
@font-face{
    font-family: "adlibbt_rus";
    src:url(../font/adlibbt_rus.ttf);
}
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
		background: url(../img/bg.png);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
}
.index {
	background: url(../img/bg_header.png) top center no-repeat, url(../img/bg.png) #eceae3;
}
.wrapper {
	width: 1000px;
	margin: 0 auto 100px auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.main{
    width: 1000px;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    padding: 15px 0;
}
.header > ul{
    display: table;
    width: 100%;
}
.header > ul > li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.header > ul > li:last-child{
    width: 170px;
    text-align: center;
}
.header > ul > li:first-child{
    width: 200px;
}
.header > ul > li:last-child p, .header > ul > li:last-child{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;
	margin: 0;
    text-align: right;
}
.header > ul > li:last-child p a.links, .header > ul > li:last-child a.links{
    color: #454545;
    font-weight: 200;
    padding-right: 10px;
}
.header > ul > li:last-child p em{
    vertical-align: middle;
    margin-right: 5px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.header > ul > li:last-child p:hover a{
    color: #4faa29;
}
.header > ul > li:last-child p:hover em{
    color: #4faa29;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}
.social{
    position: relative;
}
.social li{
    display: inline-block;
    vertical-align: middle;
}
.header > ul > li:nth-child(2) p{
    font-size: 18px;
    color: #69635b;
    font-family: "bang_whack_pow";
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0px 0 135px;
}
h1{
	color: #69635b;
	font-size: 2em;
	margin: 0.67em 0;
}
h2 {
	color: #69635b;
	font-size: 1.5em;
	margin: 0.67em 0;
}
p{
	color: #69635b;
	margin: 1em 0;
	line-height: normal;
}
b,
strong {
  font-weight: bold;
}
.type{
	height:450px;
	margin:20px 0;
	background:url(../img/type.png) top center no-repeat;
}
.type ul{
	display:table;
	width:100%;
}
.type_block{
	display:block;
	margin:0 auto;
	width:183px;
	height:160px;
	background:url(../img/bg_type.png) top center no-repeat;
	text-align:center;
	padding:1px;
}
.type_block p{
    position: relative;
	margin:25px 0;
    font-family: "adlibbt_rus";
    color: #72352c;
    text-align: center;
}
.type ul li{
	padding-top:120px;
	display:table-cell;
	vertical-align:text-bottom;
}
.look{
    position: relative;
    margin: 50px 0 0;
}
.look ul{
    display: table;
    width: 100%;
}
.look ul li{
    display: table-cell;
    vertical-align: top;
    width: 33%;
    height: 437px;
    position: relative;
    overflow: hidden;
}
.look_image{
    position: absolute;
    top: 0px;
    right: 0px;
}
.text_look{
    position: absolute;
    top: 203px;
    right: 0px;
    width: 180px;
    font-family: "adlibbt_rus";
    text-align: center;
}
.text_look p{
    font-size: 16px;
    color: #72352c;
    text-transform: uppercase;
    line-height: 19px;
	margin: 0px 0px 13px 0px;
}
.text1{
    top: 215px;
}
.text1 p{
	margin-bottom: 23px;
}
.a_buy{
	position: relative;
	padding: 10px 20px 7px 20px;
	width: 102px;
    height: 47px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "bang_whack_pow";
    color: #fff;
    font-size: 22px;
    background: url(../img/btn_buy.png) top;
	text-decoration: none;
}
.a_buy:hover{
    background: url(../img/btn_buy.png) -1px 46px;
    color: #fff;
    text-decoration: none;
}
.step{
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.step h2{
    color: #69635b;
    text-shadow:0 0 5px #fff;
    font-size: 28px;
    font-family: "adlibbt_rus";
    text-transform: uppercase;
}
.step ul{
    display: table;
    width: 100%;
    margin: 45px 0;
}
.step ul li{
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    position: relative;
}
.step p{
    font-size: 24px;
    color: #69635b;
    margin: 0px 0px 20px 0px;
    font-family: "bang_whack_pow";
	line-height: 30px;
}
.step p em{
    color: #4faa29;
    font-size: 30px;
    border: 2px solid #4faa29;
    border-radius:40px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    padding: 5px 0;
    height: 40px;
    margin-left: -20px;
}
.line1{
    position: absolute;
    top: 40px;
    right: -50px;
}
.line2{
    position: absolute;
    top: -20px;
    right: 0px;
}
.logotip{
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.logotip h2{
    text-shadow:0 0 5px #fff;
    color: #69635b;
    font-size: 28px;
    font-family: "adlibbt_rus";
    text-transform: uppercase;
}
.logotip ul{
    display: table;
    width: 100%;
    margin: 25px 0;
}
.logotip ul li{
    display: table-cell;
    vertical-align: middle;
    width: 33%;
}
.logotip img{
   
}
.logotip img:hover{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	opacity:0.5;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -135px auto 0;
    border-top: 2px solid #e1e0df;
	height: 135px;
    padding: 25px 0;
    min-width: 1000px;
	position: relative;
    background: url(../img/bg_footer.png);
}
.block_footer{
    position: relative;
    display: table;
    width: 100%;
}
.block_footer > li{
    display: table-cell;
    vertical-align: top;
}
.block_footer > li:first-child{
    width: 430px;
}
.block_footer p{
    font-weight: 200;
    color: #f8f7f4;
    font-size: 14px;
	margin: 0;
}
.block_footer p em{
    font-size: 12px;
}
.menu_footer{
    display: table;
    width: 100%;  
    margin-bottom: 25px;
}
.menu_footer > li{
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}
.menu_footer a{
    font-size: 14px;
    color: #f8f7f4;
}
.menu_footer a:hover{
    color: #4faa29;
    text-decoration: underline;
}
.menu_footer .active a{
	color: #4faa29;
	text-decoration: none;
}
.two_parts{
    position:relative;
    display: table;
    width: 100%;
}
.two_parts > li{
    display: table-cell;
    vertical-align: middle;
}
.two_parts > li:last-child{
    text-align: right;
}
.two_parts p{
    font-size: 18px;
    color: #f2f0e9;
    font-family: "bang_whack_pow";
}
.soc-common{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 31px;
    margin: 0 5px;
}
.soc1{
    background: url(../img/1.png);
}
.soc2{
    background: url(../img/2.png);
}
.soc3{
    background: url(../img/3.png);
}
.soc4{
	width: 33px;
    background: url(../img/4.png);
}
.soc5{
    background: url(../img/5.png);
}
.soc6{
    background: url(/img/6.png);
}
.soc1:hover,.soc2:hover,.soc3:hover,.soc4:hover,.soc5:hover,.soc6:hover{
    background-position: 0 -31px;
}
.btn{
    position: relative;
    width: 178px;
    height: 52px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../img/bg_btn.png) top;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;!important;
    color: #fff;!important;
    font-weight: 200;!important;
    padding-top: 15px;
    text-transform: none;
}
.btn:hover{
    background: url(../img/bg_btn.png) bottom;
    color: #fff;
}
.btn:focus{
    border: none;
    color: #fff;
    outline: 0;
}
#go{
    padding-top: 6px;
}
.error{
    color: #a94442;
}
input.error{
    border-color: #a94442;
}
input.valid, select.valid{
    border-color: rgb(86, 154, 27);
}
.loader{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loader.gif') 50% 50% no-repeat rgba(249,249,249,0.5);
    display: none;
}
.selectCountry{
    font-size: 0.8em;
}
ul.double_list{
    width:760px;
    margin-bottom:20px;
    overflow:hidden;
}
ul.double_list li{
    /*line-height:1.3em;*/
    float:left;
    display:inline;
    width:50%;
}
div#risks > label{
    width: 100%;
}