main-family = adlibbt_rus
main-color = #72352c
main-back = #ffffd9
title-color = #444444
input()
  background #f0f0f0
  border none
  height 43px
  box-shadow 1px 1px 2px 1px #D0D0D0 inset
  outline none
  font-size 15px
  padding: 0 10px
  line-height: 26px
  border-radius 0
  width 100%
placeholder()
  &::-webkit-input-placeholder
    color: #959088
  &:-moz-placeholder
    color: #959088
  &::-moz-placeholder
    color: #959088
  &:-ms-input-placeholder
    color: #959088

input[type=text]
  input()
  placeholder()

select.form-control
  input()

h2
  font-size 18px
  font-family main-family
  color main-color
  padding-top 20px
  text-transform: uppercase
.look-travel
  &-searching
    background: url("../img/look-travels.png")
    background-size: cover
    background-position: 100% 100%
    background-repeat: no-repeat
    height 500px
    [class*='col-']
      padding-right: 0
    [class*='col-'].first
      padding: 0
    [class*='col-md-1'] input
      padding: 0
      padding-left: 7px
    label.error
      font-size: 12px
      margin-top: 5px
      white-space: nowrap
    h2
      font-size 32px
      font-family main-family
      color main-color
      padding-top: 100px
      padding-bottom: 55px
    h4
      font-size 30px
      font-family main-family
      color main-color
    &-main
      padding: 0 30px 0 5px
      &-description
        font-size 16px
        color title-color
        padding: 20px 0 10px 0
        font-family 'bang_whack_pow'
  &-content
    margin-top 40px
    span
      line-height: 170px
      font-family: main-family
      color: #9f9e9e
      white-space: nowrap
      font-size 27px
    li:nth-child(1) img
      background ("../img/look-travels-content-1.png")
    li:nth-child(2) img
      background ("../img/look-travels-content-2.png")
    li:nth-child(3) img
      background ("../img/look-travels-content-3.png")
    li:nth-child(4) img
      background ("../img/look-travels-content-4.png")

.ui-autocomplete
  position: absolute
  top: 100%
  left: 0
  z-index: 1000
  float: left
  display: none
  min-width: 160px
  max-width: 250px
  padding: 5px 0
  margin: 20px 0 0 0
  list-style: none
  background-color: #f0f0f0
  box-shadow: 0px -1px 1px 1px #D8D8D8
  font-size: 15px
  .ui-state-hover,
  .ui-widget-content .ui-state-hover,
  .ui-state-focus,
  .ui-widget-content .ui-state-focus
    background: #87b834 !important
    color: #212121
    border: none
    margin: 0
    strong
      font-weight normal
      color: #fff
  strong
    color #87b834
    font-weight normal
.ui-menu .ui-menu-item
  padding: 6px 13px
  background-color: #f0f0f0


.ui-datepicker.main-from
  .ui-datepicker-header
    &::before
      content "Туда"
      display: block
      width: 100%
      text-align: center
      font-size: 16px
      padding: 10px 0
.ui-datepicker.main-to
  .ui-datepicker-header
    &::before
      content "Обратно"
      display: block
      width: 100%
      text-align: center
      font-size: 16px
      padding: 10px 0
.ui-datepicker
  width: 13em
  border: none
  background: #f0f0f0
  color: #222222
  border-radius: 0 !important
  box-shadow: 2px 2px 8px 1px #d2d2d2 inset, 2px 3px 2px 1px #d2d2d2 !important
  margin: 5px 0 0 0
  font-size "Open Sans" !important
  .ui-datepicker-title
    color: #177a3a
    font-size 14px
    font-weight bold
  .ui-datepicker-next span,
  .ui-datepicker-prev span
    width 30px
    height 30px
    background-position 3px 3px
    left 0
    top 35px
    cursor pointer
    margin 0
  .ui-datepicker-next
    span
      background-image: url("../img/calendar-left-arrow.png")
  .ui-datepicker-prev
    span
      background-image: url("../img/calendar-left-arrow_hover.png")
  .ui-datepicker-next.ui-state-hover,
  .ui-datepicker-prev.ui-state-hover
    background-color transparent
  thead
    span
      font-size: 12px
      color: #177a3a
      font-weight: bold
      text-transform: uppercase
  .ui-widget-header
    background none
    border 0
    border-radius 0
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
    border: 1px solid transparent
    font-size 12px
    background: none
    padding: 4px 2px;
    margin: 3px;
    color #505050
    font-weight bold
  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
    border: 1px solid transparent
    background: #87b834
    border-radius: 6px
    color: #fff
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
    border: 1px solid transparent
    background: #87b834
    border-radius: 6px
    color: #fff

.look-travel-parametrs
  margin-bottom 30px
  .main-title
    margin: 70px 0 20px 0
  .support
    font-size: 12px
    margin-bottom: 180px
    & + button
      float: right
  &-description
    [class*='col-'].first
      padding-left: 0
    ul
      overflow: hidden
      li
        padding 6px 0
      span
        font-size 14px
        font-family "Open Sans"
        font-weight bold
        & + span
          float right !important
          font-weight normal
      & > span
        float left
        font-weight bold
    &-total
      margin: 20px 0 0 0
      span
        text-transform: uppercase
        font-family "Open Sans"
        font-weight bold
        &+span
          font-size 24px
          color #72352c
          font-family "adlibbt_rus"
          position: relative
          top: -5px
  &-details
    background main-back
    padding 20px 15px
    margin-bottom 20px
    overflow hidden
    [class*='col-']
      padding-right: 0
    [class*='col-'].first
      padding: 0
    [class*='col-md-1'] input
      padding: 0
      padding-left: 7px
    label
      font-size: 14px
      margin-bottom: 10px
    label.error
      font-size: 12px
      margin-top: 5px
      white-space: nowrap
    h3
      color title-color
      font-size 18px
      margin-bottom 25px
      font-family adlibbt_rus
  h2
    font-size 18px
    margin 20px 0
    padding 0
.look-travel-payment
  background: #ffffd9
  padding: 30px 15px
  margin-bottom: 20px
  overflow: hidden
  [class*='col-']
    padding-right: 0
  [class*='col-'].first
    padding: 0
  [class*='col-md-1'] input
    padding: 0
    padding-left: 7px
  label
    font-size: 14px
    margin-bottom: 10px
  label.error
    font-size: 12px
    margin-top: 5px
    white-space: nowrap
  h3
    color title-color
    font-size 18px
    margin-bottom 40px
    font-family adlibbt_rus
  #pay_money
    margin-top 10px
//.look-travel-payment-title
//  font-size 32px
//  font-family main-family
//  color main-color
//  padding-top: 100px
//  padding-bottom: 55px

.clear-left
  clear: left

.look-travel-search
  &-form
    background #ffffd9
    padding 15px
    margin-bottom 20px
    overflow hidden
    [class*='col-']
      padding-right: 0
    [class*='col-'].first
      padding: 0
    [class*='col-md-1'] input
      padding: 0
      padding-left: 7px
    label
      font-size: 14px
      margin-bottom: 10px
    label.error
      font-size: 12px
      margin-top: 5px
      white-space: nowrap

  &-options
    &-block
      &:nth-child(1)
        .text
          &::before
            background-image url('../img/search-options-1.png')
      &:nth-child(2)
        .text
          &::before
            background-image url('../img/search-options-2.png')
      &:nth-child(3)
        .text
          &::before
            background-image url('../img/search-options-3.png')
    &-block
      background #ffffd9
      padding: 1px
      margin-bottom 5px
      &-details
        padding 15px 10px
        &.sport
          border-bottom: 1px solid #9fa3a4
          box-shadow: 0 1px 0 0 #fff
        input[type="checkbox"] + label
          padding: 0 0 0 40px
          margin: 10px 0
        .country.text
          white-space: normal
        .text
          position: relative
          padding: 0 0 0 30px
          white-space: nowrap
          line-height: 25px
          display: block
          &::before
            content ""
            display: block
            width: 30px
            height: 30px
            left: 0
            top: 0
            position: absolute
            background-repeat no-repeat
    h4
        font-size 18px
        padding: 15px
        border-bottom: 1px solid #9fa3a4
        box-shadow: 0 1px 0 0 #FFFFFF
      span, label
        font-size 14px

  &-result
    &-block
      border-top: 1px solid #9fa3a4
      box-shadow: 0 1px 0 0 #FBFBFB inset
      padding: 25px 0 10px 0
      img
        width: 100%
      &-sum
        font-size 18px
        font-family "Open Sans"
        b
          font-size 24px
          font-weight bold
          margin: 10px 0 0 0
          display: block
      &-options
        cursor pointer
        margin: 30px 0 10px 0
        position relative
        span
          font-size 14px
          color #72352c
          border-bottom 1px dashed #72352c
        &-advanced
          background: #d2d7d9
          padding: 20px
          margin: 20px 0 0 0
          box-shadow: 1px 1px 5px 1px #A5A6A9 inset
          [class*='col-']
            padding-right: 0
          [class*='col-'].first
            padding: 0
          [class*='col-md-1'] input
            padding: 0
            padding-left: 7px
          &-hide
            border: 1px solid #bdbdbd
            box-shadow: 0 0 0 1px #FFFFFF inset
            padding: 15px
            background-color: #e8e8e8
            position relative
            cursor pointer
            &::before
              content: ""
              position absolute
              left: 50%
              top 50%
              margin-left: -4px
              margin-top: -4px
              cursor pointer
              display: block
              width: 0
              height: 0
              border-style: solid
              border-width: 0 9px 9px 9px
              border-color: transparent transparent #88b834 transparent
          input[type="checkbox"] + label
            padding: 0 0 0 40px
            margin: 5px 0
      &-price
        font-size 32px
        color #72352c
        font-weight bold
        font-family "Open Sans"
        margin-bottom: 40px
        text-align: right
        padding-right: 10px
input[type="checkbox"],
input[type="radio"]
  display: none
input[type="checkbox"] + label,
input[type="radio"] + label
  font-size: 14px
  font-family: "Open Sans"
  color: #444
  cursor: pointer
  white-space: nowrap
  position relative
input[type="checkbox"] + label::before,
input[type="radio"] + label::before
  content: ""
  display: block
  height: 18px
  width: 18px
  position: absolute
  top: -3px
  left: 0
  background-repeat: no-repeat

input[type="checkbox"] + label::before
  background-image url(../img/look-travel-checkbox-false.png)
input[type="checkbox"]:checked + label::before
  background-image url(../img/look-travel-checkbox-true.png)

.customArrow
  background url(../img/look-travel-select-arrow.png) no-repeat right #f0f0f0
  background-position-x: 98%
  select
    background: transparent
    -webkit-appearance: none
    -moz-appearance: none
    padding: 0 35px 0 0

input[type="checkbox"] + label[for=isManyTravel]
  height: 58px
  font-size 18px
  padding-left 25px
  &::before
    top: 0
label[for = likeInsurant]
  padding-left: 30px

#quantityDays_parent
  margin-top: -15px
  .customArrow
    width 40%
    color #444
    float: right
  label[for = quantityDays]
    width 60%
    float: left
    font-size 18px

#add_insurant, .insurant_remove
  padding-top: 35px
  color: #72352c
  border-bottom: 1px dashed #72352c
  display: inline-block
  &:hover, &:focus, &:active
    text-decoration none
    color: #72352c


.ui-slider
  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default
    border: 1px solid #afb3b4
    color: #555555
    border-radius: 100%
    background: url('../img/slide.png') 50% 50% #e4e4e4 no-repeat
    width: 21px
    height: 21px
    top: -0.4em
  &.ui-widget-content
    background: #cbd0d2
    height: 8px
    box-shadow: 0 1px 0 1px #B7B7B7 inset
  .ui-widget-header
    background: #ffffff

.date-block
  position: relative
  &-end
    position: absolute
    visibility: hidden
    z-index: -1
    left: 15px
    top: -20px
  &-begin
    position: absolute
    visibility: hidden
    z-index: -1
    left: 15px
    top: -5px
  &-fake
    margin-bottom: 10px
#dateFake
  background: url("../img/look-travel-calendar.png") no-repeat right #f0f0f0
.center
  text-align: center

.insuranceAmount
  margin: 20px 0 0 0
  font-size: 14px
  color: #444444
  &-result
    margin: -25px 0 10px 0
  input
    display none

.goSportAmount
  font-size: 14px
  color: #444444
  width: 50%
  margin: 30px 0 0 20px
  &-result
    margin: -25px 0 10px 0
  input
    display none

.sport
  .insuranceAmount
    margin: 30px 0 0 0

select::-ms-expand
  display: none

input::-ms-clear, select::-ms-clear
  display: none

button.btn
  padding-top: 8px

#user-document_type
  font-size: 11px
  padding: 0 0 0 5px

.hint::after
  content ''
  cursor pointer
  width 17px
  height 17px
  display block
  background url(../img/q.png) no-repeat center center
  float: right
  position: relative
  top: -2px
  padding: 0 20px

#risk-9 + label::after
  content ''
  cursor pointer
  width 17px
  height 17px
  display none
  background url(../img/q.png) no-repeat center center
  float: right
  position: relative
  top: -2px
  padding: 0 20px
  + .info
    display none
.info
  display: block
  background: #fff
  border: 1px solid #444
  padding: 10px
  border-radius: 5px
  width: 320px
  z-index: 999
  position: absolute
  top: -30px
.relative
  position: relative

#typeSport-container
  & > div
    float left
    margin-left 10px
  &:after
    top: 10px