input[type=text] {
  background: #f0f0f0;
  border: none;
  height: 43px;
  box-shadow: 1px 1px 2px 1px #d0d0d0 inset;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  line-height: 26px;
  border-radius: 0;
  width: 100%;
}
input[type=text]::-webkit-input-placeholder {
  color: #959088;
}
input[type=text]:-moz-placeholder {
  color: #959088;
}
input[type=text]::-moz-placeholder {
  color: #959088;
}
input[type=text]:-ms-input-placeholder {
  color: #959088;
}
select.form-control {
  background: #f0f0f0;
  border: none;
  height: 43px;
  box-shadow: 1px 1px 2px 1px #d0d0d0 inset;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  line-height: 26px;
  border-radius: 0;
  width: 100%;
}
h2 {
  font-size: 18px;
  font-family: adlibbt_rus;
  color: #72352c;
  padding-top: 20px;
  text-transform: uppercase;
}
.look-travel-searching {
  background: url("../img/look-travels.png");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
}
.look-travel-searching [class*='col-'] {
  padding-right: 0;
}
.look-travel-searching [class*='col-'].first {
  padding: 0;
}
.look-travel-searching [class*='col-md-1'] input {
  padding: 0;
  padding-left: 7px;
}
.look-travel-searching label.error {
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
}
.look-travel-searching h2 {
  font-size: 32px;
  font-family: adlibbt_rus;
  color: #72352c;
  padding-top: 100px;
  padding-bottom: 55px;
}
.look-travel-searching h4 {
  font-size: 30px;
  font-family: adlibbt_rus;
  color: #72352c;
}
.look-travel-searching-main {
  padding: 0 30px 0 5px;
}
.look-travel-searching-main-description {
  font-size: 16px;
  color: #444;
  padding: 20px 0 10px 0;
  font-family: 'bang_whack_pow';
}
.look-travel-content {
  margin-top: 40px;
}
.look-travel-content span {
  line-height: 170px;
  font-family: adlibbt_rus;
  color: #9f9e9e;
  white-space: nowrap;
  font-size: 27px;
}
.look-travel-content li:nth-child(1) img {
  background: "../img/look-travels-content-1.png";
}
.look-travel-content li:nth-child(2) img {
  background: "../img/look-travels-content-2.png";
}
.look-travel-content li:nth-child(3) img {
  background: "../img/look-travels-content-3.png";
}
.look-travel-content li:nth-child(4) img {
  background: "../img/look-travels-content-4.png";
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-width: 250px;
  padding: 5px 0;
  margin: 20px 0 0 0;
  list-style: none;
  background-color: #f0f0f0;
  box-shadow: 0px -1px 1px 1px #d8d8d8;
  font-size: 15px;
}
.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-widget-content .ui-state-hover,
.ui-autocomplete .ui-state-focus,
.ui-autocomplete .ui-widget-content .ui-state-focus {
  background: #87b834 !important;
  color: #212121;
  border: none;
  margin: 0;
}
.ui-autocomplete .ui-state-hover strong,
.ui-autocomplete .ui-widget-content .ui-state-hover strong,
.ui-autocomplete .ui-state-focus strong,
.ui-autocomplete .ui-widget-content .ui-state-focus strong {
  font-weight: normal;
  color: #fff;
}
.ui-autocomplete strong {
  color: #87b834;
  font-weight: normal;
}
.ui-menu .ui-menu-item {
  padding: 6px 13px;
  background-color: #f0f0f0;
}
.ui-datepicker.main-from .ui-datepicker-header::before {
  content: "Туда";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
.ui-datepicker.main-to .ui-datepicker-header::before {
  content: "Обратно";
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}
.ui-datepicker {
  width: 13em;
  border: none;
  background: #f0f0f0;
  color: #222;
  border-radius: 0 !important;
  box-shadow: 2px 2px 8px 1px #d2d2d2 inset, 2px 3px 2px 1px #d2d2d2 !important;
  margin: 5px 0 0 0;
  font-size: "Open Sans" !important;
}
.ui-datepicker .ui-datepicker-title {
  color: #177a3a;
  font-size: 14px;
  font-weight: bold;
}
.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
  width: 30px;
  height: 30px;
  background-position: 3px 3px;
  left: 0;
  top: 35px;
  cursor: pointer;
  margin: 0;
}
.ui-datepicker .ui-datepicker-next span {
  background-image: url("../img/calendar-left-arrow.png");
}
.ui-datepicker .ui-datepicker-prev span {
  background-image: url("../img/calendar-left-arrow_hover.png");
}
.ui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-datepicker .ui-datepicker-prev.ui-state-hover {
  background-color: transparent;
}
.ui-datepicker thead span {
  font-size: 12px;
  color: #177a3a;
  font-weight: bold;
  text-transform: uppercase;
}
.ui-datepicker .ui-widget-header {
  background: none;
  border: 0;
  border-radius: 0;
}
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {
  border: 1px solid transparent;
  font-size: 12px;
  background: none;
  padding: 4px 2px;
  margin: 3px;
  color: #505050;
  font-weight: bold;
}
.ui-datepicker .ui-state-active,
.ui-datepicker .ui-widget-content .ui-state-active,
.ui-datepicker .ui-widget-header .ui-state-active {
  border: 1px solid transparent;
  background: #87b834;
  border-radius: 6px;
  color: #fff;
}
.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-state-focus,
.ui-datepicker .ui-widget-content .ui-state-focus {
  border: 1px solid transparent;
  background: #87b834;
  border-radius: 6px;
  color: #fff;
}
.look-travel-parametrs {
  margin-bottom: 30px;
}
.look-travel-parametrs .main-title {
  margin: 70px 0 20px 0;
}
.look-travel-parametrs .support {
  font-size: 12px;
  margin-bottom: 180px;
}
.look-travel-parametrs .support + button {
  float: right;
}
.look-travel-parametrs-description [class*='col-'].first {
  padding-left: 0;
}
.look-travel-parametrs-description ul {
  overflow: hidden;
}
.look-travel-parametrs-description ul li {
  padding: 6px 0;
}
.look-travel-parametrs-description ul span {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: bold;
}
.look-travel-parametrs-description ul span + span {
  float: right !important;
  font-weight: normal;
}
.look-travel-parametrs-description ul > span {
  float: left;
  font-weight: bold;
}
.look-travel-parametrs-description-total {
  margin: 20px 0 0 0;
}
.look-travel-parametrs-description-total span {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-weight: bold;
}
.look-travel-parametrs-description-total span+span {
  font-size: 24px;
  color: #72352c;
  font-family: "adlibbt_rus";
  position: relative;
  top: -5px;
}
.look-travel-parametrs-details {
  background: #ffffd9;
  padding: 20px 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.look-travel-parametrs-details [class*='col-'] {
  padding-right: 0;
}
.look-travel-parametrs-details [class*='col-'].first {
  padding: 0;
}
.look-travel-parametrs-details [class*='col-md-1'] input {
  padding: 0;
  padding-left: 7px;
}
.look-travel-parametrs-details label {
  font-size: 14px;
  margin-bottom: 10px;
}
.look-travel-parametrs-details label.error {
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
}
.look-travel-parametrs-details h3 {
  color: #444;
  font-size: 18px;
  margin-bottom: 25px;
  font-family: adlibbt_rus;
}
.look-travel-parametrs h2 {
  font-size: 18px;
  margin: 20px 0;
  padding: 0;
}
.look-travel-payment {
  background: #ffffd9;
  padding: 30px 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.look-travel-payment [class*='col-'] {
  padding-right: 0;
}
.look-travel-payment [class*='col-'].first {
  padding: 0;
}
.look-travel-payment [class*='col-md-1'] input {
  padding: 0;
  padding-left: 7px;
}
.look-travel-payment label {
  font-size: 14px;
  margin-bottom: 10px;
}
.look-travel-payment label.error {
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
}
.look-travel-payment h3 {
  color: #444;
  font-size: 18px;
  margin-bottom: 40px;
  font-family: adlibbt_rus;
}
.look-travel-payment #pay_money {
  margin-top: 10px;
}
.clear-left {
  clear: left;
}
.look-travel-search-form {
  background: #ffffd9;
  padding: 15px;
  margin-bottom: 20px;
  overflow: hidden;
}
.look-travel-search-form [class*='col-'] {
  padding-right: 0;
}
.look-travel-search-form [class*='col-'].first {
  padding: 0;
}
.look-travel-search-form [class*='col-md-1'] input {
  padding: 0;
  padding-left: 7px;
}
.look-travel-search-form label {
  font-size: 14px;
  margin-bottom: 10px;
}
.look-travel-search-form label.error {
  font-size: 12px;
  margin-top: 5px;
  white-space: nowrap;
}
.look-travel-search-options-block:nth-child(1) .text::before {
  background-image: url("../img/search-options-1.png");
}
.look-travel-search-options-block:nth-child(2) .text::before {
  background-image: url("../img/search-options-2.png");
}
.look-travel-search-options-block:nth-child(3) .text::before {
  background-image: url("../img/search-options-3.png");
}
.look-travel-search-options-block {
  background: #ffffd9;
  padding: 1px;
  margin-bottom: 5px;
}
.look-travel-search-options-block-details {
  padding: 15px 10px;
}
.look-travel-search-options-block-details.sport {
  border-bottom: 1px solid #9fa3a4;
  box-shadow: 0 1px 0 0 #fff;
}
.look-travel-search-options-block-details input[type="checkbox"] + label {
  padding: 0 0 0 40px;
  margin: 10px 0;
}
.look-travel-search-options-block-details .country.text {
  white-space: normal;
}
.look-travel-search-options-block-details .text {
  position: relative;
  padding: 0 0 0 30px;
  white-space: nowrap;
  line-height: 25px;
  display: block;
}
.look-travel-search-options-block-details .text::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  position: absolute;
  background-repeat: no-repeat;
}
.look-travel-search-options h4 {
  font-size: 18px;
  padding: 15px;
  border-bottom: 1px solid #9fa3a4;
  box-shadow: 0 1px 0 0 #fff;
}
.look-travel-search-options span,
.look-travel-search-options label {
  font-size: 14px;
}
.look-travel-search-result-block {
  border-top: 1px solid #9fa3a4;
  box-shadow: 0 1px 0 0 #fbfbfb inset;
  padding: 25px 0 10px 0;
}
.look-travel-search-result-block img {
  width: 100%;
}
.look-travel-search-result-block-sum {
  font-size: 18px;
  font-family: "Open Sans";
}
.look-travel-search-result-block-sum b {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 0 0;
  display: block;
}
.look-travel-search-result-block-options {
  cursor: pointer;
  margin: 30px 0 10px 0;
  position: relative;
}
.look-travel-search-result-block-options span {
  font-size: 14px;
  color: #72352c;
  border-bottom: 1px dashed #72352c;
}
.look-travel-search-result-block-options-advanced {
  background: #d2d7d9;
  padding: 20px;
  margin: 20px 0 0 0;
  box-shadow: 1px 1px 5px 1px #a5a6a9 inset;
}
.look-travel-search-result-block-options-advanced [class*='col-'] {
  padding-right: 0;
}
.look-travel-search-result-block-options-advanced [class*='col-'].first {
  padding: 0;
}
.look-travel-search-result-block-options-advanced [class*='col-md-1'] input {
  padding: 0;
  padding-left: 7px;
}
.look-travel-search-result-block-options-advanced-hide {
  border: 1px solid #bdbdbd;
  box-shadow: 0 0 0 1px #fff inset;
  padding: 15px;
  background-color: #e8e8e8;
  position: relative;
  cursor: pointer;
}
.look-travel-search-result-block-options-advanced-hide::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  cursor: pointer;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #88b834 transparent;
}
.look-travel-search-result-block-options-advanced input[type="checkbox"] + label {
  padding: 0 0 0 40px;
  margin: 5px 0;
}
.look-travel-search-result-block-price {
  font-size: 32px;
  color: #72352c;
  font-weight: bold;
  font-family: "Open Sans";
  margin-bottom: 40px;
  text-align: right;
  padding-right: 10px;
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 14px;
  font-family: "Open Sans";
  color: #444;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  content: "";
  display: block;
  height: 18px;
  width: 18px;
  position: absolute;
  top: -3px;
  left: 0;
  background-repeat: no-repeat;
}
input[type="checkbox"] + label::before {
  background-image: url("../img/look-travel-checkbox-false.png");
}
input[type="checkbox"]:checked + label::before {
  background-image: url("../img/look-travel-checkbox-true.png");
}
.customArrow {
  background: url("../img/look-travel-select-arrow.png") no-repeat right #f0f0f0;
  background-position-x: 98%;
}
.customArrow select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 35px 0 0;
}
input[type="checkbox"] + label[for=isManyTravel] {
  height: 58px;
  font-size: 18px;
  padding-left: 25px;
}
input[type="checkbox"] + label[for=isManyTravel]::before {
  top: 0;
}
label[for = likeInsurant] {
  padding-left: 30px;
}
#quantityDays_parent {
  margin-top: -15px;
}
#quantityDays_parent .customArrow {
  width: 40%;
  color: #444;
  float: right;
}
#quantityDays_parent label[for = quantityDays] {
  width: 60%;
  float: left;
  font-size: 18px;
}
#add_insurant,
.insurant_remove {
  padding-top: 35px;
  color: #72352c;
  border-bottom: 1px dashed #72352c;
  display: inline-block;
}
#add_insurant:hover,
.insurant_remove:hover,
#add_insurant:focus,
.insurant_remove:focus,
#add_insurant:active,
.insurant_remove:active {
  text-decoration: none;
  color: #72352c;
}
.ui-slider .ui-state-default,
.ui-slider .ui-widget-content .ui-state-default,
.ui-slider .ui-widget-header .ui-state-default {
  border: 1px solid #afb3b4;
  color: #555;
  border-radius: 100%;
  background: url("../img/slide.png") 50% 50% #e4e4e4 no-repeat;
  width: 21px;
  height: 21px;
  top: -0.4em;
}
.ui-slider.ui-widget-content {
  background: #cbd0d2;
  height: 8px;
  box-shadow: 0 1px 0 1px #b7b7b7 inset;
}
.ui-slider .ui-widget-header {
  background: #fff;
}
.date-block {
  position: relative;
}
.date-block-end {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  left: 15px;
  top: -20px;
}
.date-block-begin {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  left: 15px;
  top: -5px;
}
.date-block-fake {
  margin-bottom: 10px;
}
#dateFake {
  background: url("../img/look-travel-calendar.png") no-repeat right #f0f0f0;
}
.center {
  text-align: center;
}
.insuranceAmount {
  margin: 20px 0 0 0;
  font-size: 14px;
  color: #444;
}
.insuranceAmount-result {
  margin: -25px 0 10px 0;
}
.insuranceAmount input {
  display: none;
}
.goSportAmount {
  font-size: 14px;
  color: #444;
  width: 50%;
  margin: 30px 0 0 20px;
}
.goSportAmount-result {
  margin: -25px 0 10px 0;
}
.goSportAmount input {
  display: none;
}
.sport .insuranceAmount {
  margin: 30px 0 0 0;
}
select::-ms-expand {
  display: none;
}
input::-ms-clear,
select::-ms-clear {
  display: none;
}
button.btn {
  padding-top: 8px;
}
#user-document_type {
  font-size: 11px;
  padding: 0 0 0 5px;
}
.hint::after {
  content: '';
  cursor: pointer;
  width: 17px;
  height: 17px;
  display: block;
  background: url("../img/q.png") no-repeat center center;
  float: right;
  position: relative;
  top: -2px;
  padding: 0 20px;
}
#risk-9 + label::after {
  content: '';
  cursor: pointer;
  width: 17px;
  height: 17px;
  display: none;
  background: url("../img/q.png") no-repeat center center;
  float: right;
  position: relative;
  top: -2px;
  padding: 0 20px;
}
#risk-9 + label::after + .info {
  display: none;
}
.info {
  display: block;
  background: #fff;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  z-index: 999;
  position: absolute;
  top: -30px;
}
.relative {
  position: relative;
}
#typeSport-container > div {
  float: left;
  margin-left: 10px;
}
#typeSport-container:after {
  top: 10px;
}
